.config/coc
.config/ibus
.config/Thunar
.config/xfce4
.config/chromium/
.config/dconf/
.config/fish/
.config/go/
.config/libreoffice/
.config/mimeapps.list
.config/pulse/
.config/ristretto/
.config/xarchiver/
.config/enchant/
.config/QtProject.conf
.config/balenaEtcher/
.config/xfburn/
.config/salut/
.config/gedit/
.config/htop/
.config/libvirt/
.config/cppman/
.config/btop/
.config/qutebrowser/
